test.ipynb
schelling_model.py
schelling-model-3-test.py
Schelling-model-of-racial-2_optimization_comparation.py
Schelling-model-of-racial-2_vectorized.py
Schelling-model-of-racial-2.py
schelling-model-of-racial-3_vectorized.py
schelling-model-of-racial-3.py
.vscode